<div>
    <div class="index-title">
        <h1>C a r   I n   N e e d</h1>
    </div>
        <div class="index-login">
            <a href="/login" class="btn btn-primary">Local Login</a>
            <a href="/signup" class="btn btn-primary">Local Signup</a>
            <a href="/profile" class="btn btn-primary">Profile</a>
        </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
    <div class="row">
		<div class="col-md-12 text-center">
            <h2>So you want to buy a car?</h2>
            <h3>Thanks for taking the time to take our quiz!!! Using the answers you provide,<br/>
                we at Car In Need use your answers to determine what we believe to be the best car for you<br/>
                based on a few key preferences and given lifestyle cues</h3>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12 index-container">
        <div class="row">
		    <div class="col-md-12 text-center">
                <a href="/question" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Take the Quiz</a>
		    </div>
	    </div>
	    <div class="row">
		    <div class="col-md-12">
                <div class="index-answer">
                    <div>
                    <h2>Your Best Fit Car is a...</h2>
                    <h2>{{bestCar.name}}</h2>
                    <h3>Scroll down to see a few <br/>{{bestCar.name}} ideas!</h3>
                    </div>
		        </div>
	        </div>
	    <div class="row">
            {{#each bestCar.images}}
		    <div class="col-md-6">
            <img class= "images" src = {{this}}>
		</div>
		<div class="col-md-6">
	</div>
        {{/each}}
	        </div>
            </div>
        </div>
    </div>
</div>
