<div class="container">
{{user.local.email}}

        BEST CAR {{bestCar.name}}

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Car in Need</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
    <div>
        <a href="/profile" class="btn btn-default">Profile</a>
    </div>

    <div class="text-center">
        {{!-- <p>A demo by <a href="http://scotch.io">Scotch</a>.</p> --}}
        <p>Complete the <a href="/question">Questionnare</a>.</p>
    </div>



<h1>Car in Need</h1>
<h3>So you want to buy a car? Well, whether you're looking to get a new car within a month or simply scanning the market, 
figuring out what car you're going to buy next can be a stressful and seemingly impossible task. Lucky for you, Car in Need helps YOU understand what kind of car would best suit you and your needs!</h3>
<h2>Your Best Fit Car...</h2>


    {{!-- <h1>CELEBRITY APP</h1>

<form action="/saveActorToTheDatabase" method="pOSt">
  <input type="text" name="name">
  <input type="text" name="occupation">
  <input type="text" name="catchPhrase">
  <input type="submit" />
</form>

</div> --}}

