<div class="profile">

<div class="card" style="width: 30rem;">
        <h1>My Profile</h1>
  <div class="card-body">
    <h5 class="card-title">Information:</h5>
    <div>
        {{#if user.local.email}}
            <h6 class="card-subtitle mb-2 text-muted">email: {{user.local.email}}</h6>
            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            {{else}}
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
            {{/if}}
    </div>
    <p class="card-text"><strong>Best car:</strong>{{bestCar.name}}</p>
    <div class="pro-links">
    <a href="/question" class="card-link">Retry the Quiz</a>
    <a href="https://www.cargurus.com" class="card-link">Car Gurus</a>
    <a href="/" class="card-link">Home</a>
    <a href="/logout" class="card-link">Logout</a>
    </div>
  </div>
</div>
</div>