<div class="container-fluid">
  <div class="row wrapper">
    <div class="col-md-12 text-center">
        <div class="intro-text">
    <h2>Hey there! Whether you're looking to get a new car within a month or simply scanning the
        market,
        figuring out what car you're going to buy next can be a stressful and seemingly impossible task. Lucky for you,
        Car in Need helps YOU understand what kind of car would best suit you and your needs! Now, lets find out...</h2>
  </div>
  <h1 id="coolFont">What   Kind   Of   Car   Suits    You    Best?</h1>
      </div>
    </div>
	<div class="row">
		<div class="col-md-2">
		</div>
    <!-- FORM START -->
    <form id="quiz" action="/saveMyQuiz" method="POST">
		<div class="col-md-8 quiz-bg">
          <h2 class="quiz-font">If you were to rate your preference on the safety provided by your vehicle on a numeric scale from 1-5,<br/> 1 being
      the lowest,
      what rating would you give your preference?</h2>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
          <label><input type="radio" name="safety" value="1">
      "1"
    </label><br />
    <label><input type="radio" name="safety" value="2">
      "2"
    </label><br />
    <label><input type="radio" name="safety" value="3">
      "3"
    </label><br />
    <label><input type="radio" name="safety" value="4">
      "4"
    </label><br />
    <label><input type="radio" name="safety" value="5">
      "5"
    </label><br />
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 quiz-bg">
      <h2 class="quiz-font">What's more important to you?</h2>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
      <label><input type="radio" name="economics" value="MPG">
      "MPG"
    </label><br />
    <label><input type="radio" name="economics" value="Horsepower">
      "Horsepower"
    </label><br />
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 quiz-bg">
      <h2 class="quiz-font">How many passengers are typically in your car?</h2>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
         <label><input type="radio" name="seating" value="Just me or +1">
      "Just me or +1"
    </label><br />
    <label><input type="radio" name="seating" value="2-4 passengers">
      "2-4 passengers"
    </label><br />
    <label><input type="radio" name="seating" value="5+ passengers">
      "5+ passengers"
    </label><br />
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 quiz-bg">
      <h2 class="quiz-font">What's a problem you never want to run into?</h2>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
          <label><input type="radio" name="problems" value="Too many heads, not enough seats">
      "Too many heads, not enough seats"
    </label><br />
    <label><input type="radio" name="problems" value="Can't find a parking spot because my car is too big">
      "Can't find a parking spot because my car is too big"
    </label><br />
    <label><input type="radio" name="problems"
        value="Couldn't make the light because my car is too heavy and slow to pick up speed">
      "Couldn't make the light because my car is too heavy and slow to pick up speed"
    </label><br />
    <label><input type="radio" name="problems" value="Can't fit all my gear in my trunk">
      "Can't fit all my gear in my trunk"
    </label><br />
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 quiz-bg">
          <h2 class="quiz-font">Does your job or preferred lifestyle require you to consistently have lots of cargo?</h2>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
          <label><input type="radio" name="cargo" value="Yes">
      "Yes"
    </label><br />
    <label><input type="radio" name="cargo" value="No">
      "No"
    </label><br />
    
		</div>
		<div class="col-md-2">
		</div>
	</div>
  <div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 text-center">
          <button type="submit" id="submit" class='btn btn-warning' onclick="tabulateAnswers()" form="quiz">Submit Your Answers</button>
    <button type="reset" id="reset" class='btn btn-warning' onclick="resetAnswer()">Reset</button>
    </form>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>