<div id="wrapper">
  <h1>What kind of car suits you best?</h1>
  <p>Take this questionnaire to find out!</p>
  
  <form id="quiz" action="saveMyMoFoQuiz" method="POST">
    <!-- Question 1 -->
    <h2>Where do you enjoy driving the most?</h2>
    <!-- Here are the choices for the first question. Each input tag must have the same name. For this question, the name is q1. -->
    <!-- The value is which answer the choice corresponds to. -->
    <label><input type="radio" name="Question 1" value="Bumpy offroad">
      "Bumpy offroad"
    </label><br />
    <label><input type="radio" name="Question 1" value="Smoothly paved streets">
      "Smoothly paved streets"
    </label><br />

    <!-- Question 2 -->
    <h2>What's more important to you?</h2>
    <!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
    <label><input type="radio" name="economics" value="MPG">
      "MPG"
    </label><br />
    <label><input type="radio" name="economics" value="HorsePower">
      "Horsepower"
    </label><br />
    
    <!-- Question 3 -->
    <h2>How many passengers are typically in your car?</h2>
    <!-- Choices for the third question -->
    <label><input type="radio" name="Question 3" value="Just me or +1">
      "Just me or +1"
    </label><br />
    <label><input type="radio" name="Question 3" value="2-3 passengers">
      "2-3 passengers"
    </label><br />
    <label><input type="radio" name="Question 3" value="4-5+ passengers">
      "4-5+ passengers"
    </label><br />
    
    <!-- Question 4 -->
    <h2>What's a problem you never want to run into?</h2>
    <!-- Choices for the fourth question -->
    <label><input type="radio" name="Question 4" value="Too many heads, not enough seats">
      "Too many heads, not enough seats"
    </label><br />
    <label><input type="radio" name="Question 4" value="Can't find a parking spot because my car is too big">
      "Can't find a parking spot because my car is too big"
    </label><br />
    <label><input type="radio" name="Question 4" value="Couldn't make the light because my car is too heavy and slow to pick up speed">
      "Couldn't make the light because my car is too heavy and slow to pick up speed"
    </label><br />
    <label><input type="radio" name="Question 4" value="Can't fit all my gear in my trunk">
      "Can't fit all my gear in my trunk"
    </label><br />

    <!-- Question 5 -->
    <h2>What part of your city/town do you typically commute in?</h2>
    <!-- Choices for the fourth question -->
    <label><input type="radio" name="type" value="Urban">
      "Urban"
    </label><br />
    <label><input type="radio" name="type" value="Suburban">
      "Suburban"
    </label><br />
    <label><input type="radio" name="type" value="Rural">
      "Rural"
    </label><br />

    <!-- Question 6 -->
    <h2>Which characteristic would you prefer your car to have?</h2>
    <!-- Choices for the fourth question -->
    <label><input type="radio" name="Question 6" value="Coupe, Hatchback, SUV/Crossover">
      "Stylish and good looking (built to make your friends jealous)"
    </label><br />
    <label><input type="radio" name="Question 6" value="Sedan, Truck, Van/Minivan">
      "Practical and modest (perfect for getting you from point A to point B day in and day out)"
    </label><br />
    
    <button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>
    <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
  </form>
  
  
  <div id="answer">Your result will show up here!</div>
</div>