/*index*/
.images{
    height: 400px;
    width: 700px;
}
.index-container{
   

    background: url('/images/road-bckrnd.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px;
}
.index-title{
    float:left;
    top:-10px;
    margin-left: 20px;
    font-family:'faster one', cursive;
}
.index-login{
    padding-top:20px;
    margin-right: 20px;
    text-align: right;
}
.index-text{
    position:relative;
    top:-30px;
    padding : 30px 10px;
    text-align: center;
    background-color: white;
    font-family:'racing sans one', cursive;
}
.index-text h2{
    font-size:40px;
}
.index-answer{
    color: black;
    text-align: center;
    width:600px;
    height:442px;
    margin-top: 40px;
    margin-left : 35%;
    background: url(/images/cloud.png) no-repeat;
    background-size:78%;
    
}

.index-answer > div {
    padding-top :80px;
    padding-right:120px;
    font-family:'racing sans one', cursive;
}
.btn{
    border-radius: 200px;
    font-family: 'racing sans one', cursive;
}
.images{
    display: flex;
    align-content: space-between;
    margin-left: 20px;
    height: 500px;
    margin-bottom: 70vh;
}
/* question */
.container-fluid{
    margin: 10px;
}
.intro-text{
    font-family: 'racing sans one', cursive;
    font-size: 30px;
    text-align:center;
}
#coolFont{
    font-family:'faster one', cursive;
    font-size: 50px;
    text-align:center;
}
/* #quiz h2{
    font-family: 'racing sans one', cursive;
    background-color:lightblue;
    width:50%;
} */

.quiz-font{
    font-family: 'racing sans one', cursive;
}

.quiz-bg{
    background-color:lightblue;
}
label{
    font-family: 'permanent marker', cursive;
    font-size:25px;
}
#quiz .btn{
    font-size:20px;
}