.images{
    height: 400px;
    width: 700px;
}
.index-container{
    background-image: url(/images/road-bckrnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* display:flex;
    justify-content: center; */
}